<!DOCTYPE html>

<html> 

  <!-- BEGIN HEAD -->
  <head>

    <meta charset="utf-8" />
    <title>QuestionBank</title>

  </head>
  <!-- END HEAD -->

  <!-- BEGIN BODY -->
  <body class="page-header-fixed page-full-width">

    <!-- BEGIN CONTAINER -->
    <div class="tab-content page-container" >
      {% block content %}
      {% endblock %}
      <br>
    </div>
    <!-- END CONTAINER -->


    <div class="footer">
      <div class="footer-inner">
        Leandro Costa Valadão
      </div>
    </div>

    <!-- END FOOTER -->
  </body>
  <!-- END BODY -->

</html>
